
@{
    ViewBag.Title = "AssignEmployee";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>AssignEmployee</h2>


<label>Restaurant Name : </label> @Model.Restaurant.RestaurantName
<br />
<label>Max Preservation Time : </label> @Model.MaxPreservationTime
<br />
<label>Location : </label> @Model.Restaurant.Location
<br />

<form action="" method="post">



    <select class="form-control" name="EmployeeID">
        <option disabled selected>---Select---</option>
        @foreach (var e in ViewBag.Employees)
        {
            <option value="@e.ID">@e.Name</option>
        }
    </select>
    <input type="hidden" name="CollectRequestID" class="form-control" value="@Model.RequestID" />
    <input type="hidden" name="AssignmentStatus" class="form-control" value="Assigned" />

    <input type="submit" value="Assign" class="btn btn-warning" />
</form>

