
@{
    ViewBag.Title = "ShowAllEmployees";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>ShowAllEmployees</h2>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>Status</th>

    </tr>
    @foreach (var us in Model)
    {
        <tr text-align: center;>
            <td>@us.ID</td>
            <td>@us.Name</td>
            <td>@us.ContactNumber</td>
            <td>@us.Email</td>
            <td>@us.Status</td>
           


        </tr>
    }
</table>