
@{
    ViewBag.Title = "ShowAllRequest";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>ShowAllRequest</h2>

<table class="table table-bordered">

    <tr>
        <th>Request ID</th>
        <th>Request Name</th>
        <th>Request Time</th>
        <th>Max Preservation Time</th>
        <th>Status</th>
        <th>Action</th>

    </tr>
    @foreach (var cr in Model)
    {
        <tr text-align: center;>
            <td>@cr.RequestID</td>
            <td>@cr.Restaurant.RestaurantName</td>
            <td>@cr.RequestTime</td>
            <td>@cr.MaxPreservationTime</td>
            <td>@cr.Status</td>
            <td> <a href="/NGO/AssignEmployee/@cr.RequestID" class="btn btn-primary">Accept Request</a> <a href="/NGO/RejectRequest/@cr.RequestID" class="btn btn-danger">Reject</a></td>

        </tr>
    }
</table>